@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.navbar{
  height: 60px;
  padding-right: 5%;
}
.navbar-brand{
  padding-left: 5%;
}
.nav-item{
  text-align: center;
  font:-size: 1rem;
  font-family: 'roboto';
  letter-spacing: 1.75px;
  text-transform: uppercase;
  opacity: 1;
}

.nav-link{
  color: #003577 !important ;
  font-weight: 600;
}
.nav-link:hover{
  color:#4BE3AD !important;
  text-decoration: underline;
  font-size: 110%;
}
.banner{
	background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("../src/banner.png");
  background-size: cover;
  background-position: center center;
  background-position-y: -350px;
  height: 537px;
}
.banner-text{
	padding:100px 0 150px 0;
}
.banner-heading{
	font-family: 'roboto';
	font-size: 3.5rem;
  font-weight: 700;
  line-height: 75px;
  margin-bottom: 30px;
	color:#fff;
}
.banner-sub-heading{
	font-family: 'roboto';
	font-size: 1rem;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 50px;
	color:#fff;
}
.btn-banner{
  font-family: 'roboto';
  font-weight: bold;
  background: #4BE3AD 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 3px #00000033;
  border-radius: 4px;
  opacity: 1;
  width: 260px;
  height: 36px;
}
.text-dark{
  text-align: center;
  font-family: 'roboto';
  font-size: 1rem;
  letter-spacing: 1.75px;
  color: #000000DE;
  text-transform: uppercase;
}

.missao{
  background: #F5F5F5;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titulo-missao{
  color: #003577;
  font-weight: bold;
  font-size: 2rem;
  text-align: left;
}
.texto-missao{
  color: #00000098;
  font-size: 1rem;
  text-align: left;
}

.ajudar{
  background: url("../src/ornamentos_Grupo_Daniel.svg");
  min-height: 559px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5% 10%;
}
.card-ajudar{
  margin-right: 3%;
}
.card-body{
    background-color: #395EA6;
}
.card-title{
  font-family: 'roboto';
  color: white;
  font-weight: bolder;
  font-size: 1.2rem;
}
.card-text{
  font-family: 'roboto';
  color: white;
  font-size: 1rem;
  min-height: 100px;
  padding: 1%;
}
.botao-card{
  font-family: 'roboto';
  font-weight: bold;
  background: #4BE3AD 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 3px #00000033;
  border-radius: 4px;
  opacity: 1;
  width: 260px;
  height: 36px;
}
.card-img-top{
  width: 100%;
  height: auto;
}

.noticias{
  background-color: #F5F5F5;
}
.card{
  margin-bottom: 5%;
}
.noticias-titulo{
  font-family: 'roboto';
  text-align: left;
  font-size: 2rem;
  font-weight: bold;
  color: #003577;
  padding: 5% 0 0 0;
}
.card-1{
  background-color: #4BE3AD;
  border-radius: 15px;
  padding: 3%;
}
.card-title-1{
  color: #395EA6;
  font-size: 1.8rem;
  font-weight: bold;
}
.card-text-1{
  color: #395EA6;
  font-size: 1rem;
  min-height: 100px;
  padding: 1%;
}
.botao-card-1{
  font-family: 'roboto';
  background: #395EA6;
  color: white;
  text-transform: uppercase;
  width: 260px;
  height: 36px;
}
.card-2{
  background-color: #395EA6;
  border-radius: 15px;
  padding: 3%;
}
.card-title-2{
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
}
.card-text-2{
  color: white;
  font-size: 1rem;
  min-height: 100px;
  padding: 1%;
}
.botao-card-2{
  font-family: 'roboto';
  background: #4BE3AD;
  color: black;
  text-transform: uppercase;
  width: 260px;
  height: 36px;
}
.card-3{
  background-color: #FFFFFF;
  border-radius: 15px;
  padding: 3%;
}
.card-title-3{
  color: #395EA6;
  font-size: 1.8rem;
  font-weight: bold;
}
.card-text-3{
  color: #395EA6;
  font-size: 1rem;
  min-height: 100px;
  padding: 1%;
}
.botao-card-3{
  font-family: 'roboto';
  background: #395EA6;
  color: white;
  text-transform: uppercase;
  width: 260px;
  height: 36px;
}
.img-noticias{
  width: 75%;
}
.noticias-body{
  height: 85%;
  padding: 5%;
}

.contato{
  background: url("../src/ornamentos_Grupo_Daniel.svg");
  background-color: #003577;
  height: 442px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.titulo-contato{
  text-align: left;
  font-family: 'Roboto';
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0;
  color: white;
}
.texto-contato{
  text-align: left;
  font-family: 'roboto';
  font-size: 1rem;
  letter-spacing: 0.8px;
  color: white;
}
#mce-FNAME{
  width: 328px;
  height: 35px;
  margin: 2.5% 0;
  border-radius: 5px;
  color: white;
  font-family: 'roboto';
  font-size: 1rem;
  background-color: #124381;
  border: 1px solid #124381;
  padding: 15px;
}
#mce-EMAIL{
  width: 328px;
  height: 35px;
  margin: 2.5% 0;
  border-radius: 5px;
  color: white;
  font-family: 'roboto';
  font-size: 1rem;
  background-color: #124381;
  border: 1px solid #124381;
  padding: 15px;
}
#mce-MMERGE2{
  width: 328px;
  height: 135px;
  margin: 2.5% 0;
  border-radius: 5px;
  color: white;
  font-family: 'roboto';
  font-size: 1rem;
  background-color: #124381;
  border: 1px solid #124381;
  padding: 15px;
}
.button{
  font-family: 'roboto';
  background: #4BE3AD;
  border: none;
  border-radius: 5px;
  color: #00000098;
  text-transform: uppercase;
  width: 90%;
  height: 36px;

}

.sobre{
  background-color: #F5F5F5;
  padding: 2.5%;
}
.sobre-esquerda{
  padding: 2.5%;
}
.sobre-direita{
  padding: 2.5%;
}
.missao-left{
  padding-left: 0;
}
.missao-right{
  padding-left: 0;
}
.titulo-sobre{
  font-family: 'roboto';
  color: #000000DE;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: left;
}
.texto-sobre{
  font-family: 'roboto';
  color: #00000098;
  font-size: 1rem;
  text-align: left;
}

.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-left{
  background-color: #003577;
  padding: 2.5%;
}
.titulo-footer-left{
  color: white;
  font-family: 'roboto';
  font-size: 1rem;
  font-weight: bold;
}
.btn-footer{
  font-family: 'roboto';
  font-weight: bold;
  background: #395EA6;
  margin: 2.5%;
  width: 260px;
  height: 36px;
}

.footer-right{
  background-color: #6D8BD8;
  padding: 5% 2.5%;
}
.link-footer{
  color: #000000;
  font-family: 'roboto';
  text-decoration: underline;
}
.endereco-footer{
  color: #000000;
  font-family: 'roboto';
}
